<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TreatNoTestsAsError>false</TreatNoTestsAsError>
    <TestSessionTimeout>7200000</TestSessionTimeout>
  </RunConfiguration>
  <MSTest>
    <Parallelize>
      <Workers>3</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <TestTimeout>420000</TestTimeout>
  </MSTest>
</RunSettings>
