<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TreatNoTestsAsError>false</TreatNoTestsAsError>
    <TestSessionTimeout>3600000</TestSessionTimeout>
  </RunConfiguration>
  <MSTest>
    <Parallelize>
      <Workers>4</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <TestTimeout>180000</TestTimeout>
  </MSTest>
</RunSettings>
